<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li ><a href="../main.html">BEST 맛집</a></li>
          <li><a href="../region/">지역별 맛집</a></li>
          <li class="current"><a href="restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 17,531 클릭 | 2022-01-06 </p>
    <p>2022 돼지고기 인기 맛집 TOP 30</p>
    <p>
      “한국인의 소울푸드는 바로 돼지고기가 아닐까?”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList6.jpg" id="listImg"></a>
        <p id="listTitle"> 길목 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 강남구 영동대로129길 10 </p>
        <p id="listExplain">
          붕어싸만코 목살러버들 환장하게 하는 길목 다른 고깃집 목살이랑 다르다..계속 생각나는 맛! 양파무침이랑도 엄청 잘어울린다 자주 가고 싶지만 웨이팅이 두려워 못가게 된다 ㅜ ㅜ 콜키지 프리라 와인 마시는 사람들이 많다 조만간 목살 혼내주러 가야지
        </p>
        <button type="button"> <a href="../restaurant/gilmok.html"> 길목 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList7.jpg" id="listImg"></a>
        <p id="listTitle"> 남영돈 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 용산구 한강대로80길 17</p>
        <p id="listExplain">
          gilsama 돼지고기계의 샤넬. 가브리살계의 에르메스. 정말 훌륭한 겉바속촉 퀄리티의 돼지고기를 맛 볼 수 있습니다. 김치, 김치찌개를 비롯한 기본찬과 면 종류의 퀄리티 또한 각각을 주 메뉴로해서 음식점을 차려도 될만큼 정말 높습니다.
        </p>
        <button type="button"> <a href="../restaurant/namyoungdon.html"> 남영돈 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList8.jpg" id="listImg"></a>
        <p id="listTitle"> 꿉당 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 서초구 강남대로 615 1F</p>
        <p id="listExplain">
          본점과 성수점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 꿉당 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList9.jpg" id="listImg"></a>
        <p id="listTitle"> 김진목삼 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">서울특별시 종로구 자하문로1길 51</p>
        <p id="listExplain">
          본점과 2호점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 김진목삼 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList10.jpg" id="listImg"></a>
        <p id="listTitle"> 숙성도 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">제주특별자치도 제주시 원노형로 41</p>
        <p id="listExplain">
          스위밍 숙성도에서 먹은 흑돼지 프렌치렉을 잊지못하겠다ㅠㅠ 너무 맛있었음... 항상 말하는거지만 요즘 돼지고기 가격과 품질 모두 상향평준화돼서 막 어떤게 엄청 맛있고 그런거 잘 못느끼겠는데 최근 제주도 가서 먹은 흑돼지 중에 여기서 먹은 흑돼지 프렌치렉이 최고였다!
        </p>
        <button type="button"> <a href="#"> 숙성도 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>