<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li><a href="../region/">지역별 맛집</a></li>
          <li class="current"><a href="restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 22,282 클릭 | 2022-01-05 </p>
    <p>2022 돈까스 인기 맛집 TOP 30</p>
    <p>
      “돈까스에 소스 듬뿍 뿌려주세요!”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList11.jpg" id="listImg"></a>
        <p id="listTitle"> 카와카츠 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">서울특별시 마포구 동교로 126 1F 102호 </p>
        <p id="listExplain">
          장희 이제서야 가본 카와카츠. 두꺼운 돈까스집이 너무 많이 생겨서 비슷비슷한 스타일에 완성도 차이로 결정되는 느낌이라 돈까스에 대한 흥미가 좀 떨어져 있었는데 여긴 달라서 간만에 맛있게 먹었다. 살짝 분홍빛이 도는 비주얼 만큼 등심인데도 아주 부드러웠다.
        </p>
        <button type="button"> <a href="../restaurant/kawakatsu.html"> 카와카츠 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList12.jpg" id="listImg"></a>
        <p id="listTitle"> 북천 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">서울특별시 용산구 한강대로38가길 7-2</p>
        <p id="listExplain">
          맛따라길떠나 용산우체국 골목에 위치한 가정집느낌의 돈까스맛집 북천돈까스! 2017년 알게되어 그때부터 용산에 갈일이생기면 꼭 들리는 곳입니다
        </p>
        <button type="button"> <a href="../restaurant/bukcheon.html"> 북천 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList13.jpg" id="listImg"></a>
        <p id="listTitle"> 톤쇼우 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">부산광역시 수영구 광안해변로279번길 13</p>
        <p id="listExplain">
          omgoh91 대표메뉴는 프리미엄로스카츠와 카츠산도 그리고 카레입니다. 여기의 카츠는 좀 특이해요 프리미엄카츠와 버크셔카츠는 기름에 튀긴 후 숯불에 한번 구워서 훈연의 향이 베더라구요
        </p>
        <button type="button"> <a href="#"> 톤쇼우 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList14.jpg" id="listImg"></a>
        <p id="listTitle"> 오제제 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 용산구 한강대로 363-2 1F</p>
        <p id="listExplain">
          서초동먹변 세상에 이런 맛있는 돈까스가 있다니.. 엄청난 웨이팅이었고 아쉽게 냉우동은 맛보지 못했지만.. 충분히 만족스러운 식사였습니다 한동안 돈까스는 주머니 가벼운 대학생들이 즐기는 음식이라는 편견을 가졌었는데 편견을 깨뜨린 장인정신이 느껴지는 멋진 요리였습니다
        </p>
        <button type="button"> <a href="#"> 오제제 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList15.jpg" id="listImg"></a>
        <p id="listTitle"> 시키카츠 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 동대문구 회기로 110</p>
        <p id="listExplain">
          본점(회기)와 신당점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 시키카츠 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>