<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li><a href="../region/">지역별 맛집</a></li>
          <li class="current"><a href="restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 9,114 클릭 | 2022-01-02 </p>
    <p>2022 피자 인기 맛집 TOP 30</p>
    <p>
      “2022년엔 맛있는 피자 먹고 어깨 피자!”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList26.jpg" id="listImg"></a>
        <p id="listTitle"> 작은피자집 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 동작구 사당로30길 96 </p>
        <p id="listExplain">
          아구구 사장님 혼자서 운영하시는 작은 피자집. 테이블은 3개 밖에 없어서, 주말 저녁에 웨이팅 30분 정도 했다. 피자에 재료가 듬뿍 올라가고 도우도 바삭하게 맛있다!! 반반피자가 되어서 트리플 치즈, 베이컨 체다를 먹었다.
        </p>
        <button type="button"> <a href="../restaurant/smallpizza.html"> 작은피자집 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList27.jpg" id="listImg"></a>
        <p id="listTitle"> 포폴로피자 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">경기도 고양시 일산동구 정발산로 43-20 센트럴플라자 1F 102</p>
        <p id="listExplain">
          모모마무 토마토소스베이스인 피자가 많고 모짜렐라치즈가 정말 신선하고 맛있어요. 일행이랑 치즈 맛있다고 입을 모아 이야기했습니다. 
        </p>
        <button type="button"> <a href="../restaurant/popolo.html"> 포폴로피자 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList28.jpg" id="listImg"></a>
        <p id="listTitle"> 다로베(휴업중) </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">서울특별시 성동구 서울숲길 48</p>
        <p id="listExplain">
          melody623 다로베 피자는 적당히 쫀득하고 담백한 도우와 짜지않고 고소한 프로슈트꼬또 햄, 담백함과 풍미를 향상시키는 부팔라 모짜렐라, 바질, 트러플오일로 만들었어요. 명성에 걸맞게 건강하고 간단한 재료지만, 고소하고 담백한 맛이 일품인 화덕피자였습니다.
        </p>
        <button type="button"> <a href="#"> 다로베(휴업중) 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList29.jpg" id="listImg"></a>
        <p id="listTitle"> 지아니스나폴리 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">경기도 수원시 영통구 센트럴타운로 85 아브뉴프랑 104-1호</p>
        <p id="listExplain">
          수원점, 역삼 본점, 가로수길점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 지아니스나폴리 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList30.jpg" id="listImg"></a>
        <p id="listTitle"> 매덕스피자 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">서울특별시 강남구 도산대로15길 11 1F</p>
        <p id="listExplain">
          먹밍muckk_ming 피맥하기 제일 좋은 핏쨔❣️매덕스피자 얇은 도우에 미쿡스런 토핑이 잔뜩 올라가있어 맥주와 제일 잘 어울리지 않나 싶어요 1조각씩 선택 가능해 친구들과 함께가서 각자 다른맛 선택하여 반쪽씩 컷팅해서 먹기도 너무 좋고 1조각 자체가 커요 저희는 3명이서 5조각 뿌시기 짭쪼름해서 생각보다 덜 느끼하구요
        </p>
        <button type="button"> <a href="#"> 매덕스피자 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>