<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li><a href="../region/">지역별 맛집</a></li>
          <li class="current"><a href="restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 11,689 클릭 | 2022-01-04 </p>
    <p>2022 곱창 인기 맛집 TOP 30</p>
    <p>
      “선 곱창 후 볶음밥 RGRG?”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList16.jpg" id="listImg"></a>
        <p id="listTitle"> 인생이막창이네 </p>
        <p id="listRating"> 4.4 </p>

        <p id="listAddr">서울특별시 서대문구 연세로7안길 51 1F </p>
        <p id="listExplain">
          강슐랭 냥냥이 막창+닭발이 먹고싶을땐 찾아가면 언제나 대만족하고 돌아오는 맛집 맛 : 불맛이 나는게 첫입부터 와 이게 맛집이지라는 생각이 들었다. 시켜먹었을때도 꽤나 맛있다고 느꼈는데 와서 더 따듯하게 먹으니까 분위기도 그렇고 굉장히 맛있었다.
        </p>
        <button type="button"> <a href="../restaurant/inseng.html"> 인생이막창이네 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList17.jpg" id="listImg"></a>
        <p id="listTitle"> 진미한우곱창 </p>
        <p id="listRating"> 4.3 </p>

        <p id="listAddr">서울특별시 강동구 천중로40길 50</p>
        <p id="listExplain">
          뿌디 곱창은 정기적으로 먹는 모순덩어리다. 진짜 한달에 꼭 먹어줘야 직성이 풀리는데... 이 집은 나의 최애 곱창집이자, 늘 그리운 곳이라 할 수 있다
        </p>
        <button type="button"> <a href="../restaurant/jinmi.html"> 진미한우곱창 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList18.jpg" id="listImg"></a>
        <p id="listTitle"> 양우정 </p>
        <p id="listRating"> 4.3 </p>

        <p id="listAddr">경기도 성남시 분당구 정자일로156번길 6 뉴본타워 1F3</p>
        <p id="listExplain">
          냠냐룽 양대창은 쫄깃 그자체... 훌륭한 맛일것을 예상했고, 예상 그대로 훌륭했습니다. 그런데 정말 놀라웠던 것은 오히려 소곱창이었어요...!! 곱도 왕창이고, 굽기가 환상이어서 통통한 육질과 육즙이 그대로 살아있는 인생소곱창이었습니다ㅠㅠ
        <button type="button"> <a href="#"> 양우정 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList19.jpg" id="listImg"></a>
        <p id="listTitle"> 함지곱창 </p>
        <p id="listRating"> 4.3 </p>

        <p id="listAddr">서울특별시 강남구 학동로2길 33</p>
        <p id="listExplain">
          이소영 강남에서 가장 유명한 곱창집이죠! 평일 저녁 웨이팅만 1시간을 넘게 했어요ㅠㅠ 저녁엔 술도 같이 드시다보니 회전율이 어쩔수없이 떨어지는듯ㅠ 근데 맛은 진짜 장난아니에요!
        </p>
        <button type="button"> <a href="#"> 함지곱창 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList20.jpg" id="listImg"></a>
        <p id="listTitle"> 맛집부추곱창 </p>
        <p id="listRating"> 4.3 </p>

        <p id="listAddr">서울특별시 서초구 방배천로2길 37</p>
        <p id="listExplain">
          @tastekim_v 사당에서 곱창으로 평이 좋은 곳을 친구들과 함께 찾았다. 6시 10분쯤까지만 해도 사람이 많이 없었는데, 30분 되니까 만석이다. 퇴근하자마자 사람들이 여기로 다 몰렸다는 얘기가 되겠다.
        </p>
        <button type="button"> <a href="#"> 맛집부추곱창 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>