<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li class="current"><a href="./restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 18,139 클릭 | 2021-12-29 </p>
    <p>2022 인기 카페 맛집 TOP 30</p>
    <p>
      “2022년에도 카페 투어할 준비 됐나?”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList21.jpg" id="listImg"></a>
        <p id="listTitle"> 따빠디또 디저트 따빠스바 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 관악구 행운1길 79 상가 104호 </p>
        <p id="listExplain">
          가유정 단순한 맛집이 아니고, 작품을 전시해주시면 맛으로 체험해보는 그런 곳 입니다. 처음 먹어보는 맛이지만 어색함이 하나도 없습니다. .
        </p>
        <button type="button"> <a href="../restaurant/ddabba.html"> 따빠디또 디저트 따빠스바 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList22.jpg" id="listImg"></a>
        <p id="listTitle"> 삐아프 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">서울특별시 강남구 논현로175길 109 1F</p>
        <p id="listExplain">
            Lia 포장도 맛도 최고. 단언컨대 내가 서울에서, 아니 한국에서 가장 좋아하는 초콜릿집!! 진짜 너어무 맛있다
        </p>
        <button type="button"> <a href="../restaurant/piaf.html"> 삐아프 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList23.jpg" id="listImg"></a>
        <p id="listTitle"> 오츠에스프레소 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">서울특별시 마포구 독막로14길 32</p>
        <p id="listExplain">
          stern 개인적으로 서울 아인슈페너 탑3중 하나라고 생각하는 곳 근방에 연남동, 합정에 비해 접근성이 떨어져 잘 못가는데 근방에 가면 꼭 생각난다 카페 자리가 넓은편은 아니다보니 주로 테이크아웃한다
        </p>
        <button type="button"> <a href="#"> 오츠에스프레소 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList24.jpg" id="listImg"></a>
        <p id="listTitle"> 듁스커피 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">서울특별시 마포구 어울마당로2길 10</p>
        <p id="listExplain">
          서초동먹변 세상에 이런 맛있는 돈까스가 있다니.. 엄청난 웨이팅이었고 아쉽게 냉우동은 맛보지 못했지만.. 충분히 만족스러운 식사였습니다 한동안 돈까스는 주머니 가벼운 대학생들이 즐기는 음식이라는 편견을 가졌었는데 편견을 깨뜨린 장인정신이 느껴지는 멋진 요리였습니다
        </p>
        <button type="button"> <a href="#"> 듁스커피 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/restaurant_menu/foodList25.jpg" id="listImg"></a>
        <p id="listTitle"> 비비비당 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">부산광역시 해운대구 달맞이길 239-16</p>
        <p id="listExplain">
          혜자 기대 별로 안했지만, 평점 높은 이유가 있었다! 경치도 좋고 분위기도 고급진 한정식집 느낌이였다! 카페느낌보단 레스토랑 느낌 메뉴도 코스도 있고 신선했다. 바다 경치보면서 즐길 수 있어 또 가볼만 한 곳이였다!
        </p>
        <button type="button"> <a href="#"> 비비비당 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>