<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 37,907 클릭 | 2021-12-27 </p>
    <p>2022 경기도 인기 맛집 TOP 100</p>
    <p>
      “경기도 찐맛집 여기 다 있네!”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gyenggi_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 용산소세지전문점 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">경기도 고양시 덕양구 삼송로185번길 5 1F </p>
        <p id="listExplain">
          김슬기 콜드소세지 꼭 드세요 :) 콜드소세지와 크래커 야채 샐러드의 조합이 너무 좋아요! 바삭 아삭 ㅎㅎ 얼려둔 맥주잔에 맥주까지 더하면 끝납니다~ 서비스로 주시는 오뎅탕도 맛나구요 ㅎㅎ 코로나때문에 여럿이 못모이지만 모일수만 있다면 가서 핫소세지도 먹어보고 싶어요 ㅠㅠ
        </p>
        <button type="button"> <a href="#"> 용산소세지전문점 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gyenggi_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 북한강막국수닭갈비 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">경기도 남양주시 조안면 북한강로 908</p>
        <p id="listExplain">
          밈미 와 여기 뭐죠 한입 딱 먹는 순간 깨달았습니다 여기 진짜 맛집이다… 인생 닭갈비 입니다 딱 한입 무는 순간 정말 부드럽고 불맛 가득한 간도 딱 맞는 닭갈비에 반해버렸습니다 천상의 맛입니다 이제 다른집 닭갈비 못먹어요
        </p>
        <button type="button"> <a href="#"> 북한강막국수닭갈비 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gyenggi_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 봉순게장 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">경기도 부천시 역곡로284번길 18</p>
        <p id="listExplain">
          북극곰 성공적인 게장 첫경험. 합리적인 가격으로 꽤 퀄리티 좋은 국산 게로 담근 간장게장과 양념게장, 그리고 새우장을 맛볼 수 있다. 사실 나는 어릴적에는 날 해산물을 잘 못 먹었다. 당연히 게장 또한 못 먹었고.. 근데 스시로 시작해서 날생선의 맛을 깨닫게 되었
        </p>
        <button type="button"> <a href="#"> 봉순게장 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gyenggi_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 포폴로피자 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">경기도 고양시 일산동구 정발산로 43-20 센트럴플라자 1F 102</p>
        <p id="listExplain">
          사공삼 일산 맛집 중 최고봉 일산 맛집이란 맛집은 다 가본 나지만 친구들이 일산 맛집 물으면 생각나는 곳은 포폴로피자 & 칼국수 집 뿐 !! 일단 화덕 피자 반죽의 쫀득함과 바삭함도 미쳤구 파스타는 어디서도 먹어볼 수 없는 맛.. 
        </p>
        <button type="button"> <a href="#"> 포폴로피자 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gyenggi_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 이나경송탄부대찌개 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">경기도 수원시 팔달구 효원로307번길 47 문화빌딩</p>
        <p id="listExplain">
          예랑 한줄평: 혈관자극 비주얼과는 달리 맑고 깊은 채소육수가 매력적인 부대찌개. 수원 맛집 1위가 이해가는 곳. 수원에 어쩌다 가게된 지난 가을. 당연히 가장 먼저 떠오른 식당은 바로 여기
        </p>
        <button type="button"> <a href="#"> 이나경송탄부대찌개 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>