<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 28,179 클릭 | 2021-12-25 </p>
    <p>2022 강원도 인기 맛집 TOP 100</p>
    <p>
      “역시 강원도 음식이 제일 맛있어”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangwon_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 뼈대있는짬뽕 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">강원도 원주시 봉산로 96-15 </p>
        <p id="listExplain">
          ailey 둘이서 방문해서 각각 뼈짬뽕(9.0) 주문했구요. 짬뽕 위에 큼직한 돼지등뼈가 올라가있어 비쥬얼부터 만족. 푹 삶아졌는지 살도 부드럽게 발라져서.. 감자탕처럼 겨자소스에 찍어먹었어요. 그리고 고기보다는 국물이 넘 맛있었어요! 
        </p>
        <button type="button"> <a href="#"> 뼈대있는짬뽕 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangwon_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 속초붉은대게수산 </p>
        <p id="listRating"> 4.4 </p>

        <p id="listAddr">강원도 속초시 중앙시장로6길 14-1 속초중앙시장 77호</p>
        <p id="listExplain">
          JIN. 김종태 맛은..기가 막히네요 살이 단단하고 달달한것이 맛있습니다 내장이 배어들은 몸통은 고소한맛이 가미되어 정신없이 발라막게되는데 볶음밥이 생각외로 알차게 꾹꾹 담겨서 맛있습니다 식어도 좋네요 여기는 속초 올때마다 꼭 들릴수 밖에 없을것 같습니다
        </p>
        <button type="button"> <a href="#"> 속초붉은대게수산 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangwon_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 우성닭갈비 </p>
        <p id="listRating"> 4.4 </p>

        <p id="listAddr">강원도 춘천시 우묵들길 33</p>
        <p id="listExplain">
          본점과 직영점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 우성닭갈비 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangwon_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 흔들바위 </p>
        <p id="listRating"> 4.4 </p>

        <p id="listAddr">강원도 평창군 봉평면 태기로 1</p>
        <p id="listExplain">
          ❄❄❄ 맛❄❄❄❄❄ 진짜 맛있다!!!!! 이것이 바로 미미!!! 나물 좋아하는 사람들은 아마 단골이 될 것 같다. 나물 종류 바뀌는데 매번 다 맛있다 겉바속촉 감자전 완전 맛나다!!!!!! 
        </p>
        <button type="button"> <a href="#"> 흔들바위 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangwon_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 엄지네포장마차 </p>
        <p id="listRating"> 4.3 </p>

        <p id="listAddr">강원도 강릉시 경강로2255번길 21</p>
        <p id="listExplain">
          본점과 속초점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 엄지네포장마차 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>