<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 47,271 클릭 | 2021-12-26 </p>
    <p>2022 부산 인기 맛집 TOP 100</p>
    <p>
      “마 맛집은 부산이라 안카나”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/busan_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 톤쇼우 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">부산광역시 수영구 광안해변로279번길 13 </p>
        <p id="listExplain">
          본점(금정구)과 광안리점 모두 선정되었습니다.
        </p>
        <button type="button"> <a href="#"> 톤쇼우 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/busan_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 해목 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">부산광역시 해운대구 구남로24번길 8</p>
        <p id="listExplain">
          풀롱옹 바다장어 히츠마부시 28000원 연어덮밥+네기도로동 18000원 생활의 달인에 나온 장어덮밥 맛집! 히츠마부시는 덮밥을 4등분으로 나누어서 먹는 재미가 있었고, 연어덮밥+네기도로동은 소스를 골라먹는 재미가 있었당.
        </p>
        <button type="button"> <a href="#"> 해목 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/busan_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 비비비당 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">부산광역시 해운대구 달맞이길 239-16</p>
        <p id="listExplain">
          혜자 호박 빙수 (10,000) 계절 꽃차 (10,000) 기대 별로 안했지만, 평점 높은 이유가 있었다! 경치도 좋고 분위기도 고급진 한정식집 느낌이였다! 카페느낌보단 레스토랑 느낌 메뉴도 코스도 있고 신선했다. 바다 경치보면서 즐길 수 있어 또 가볼만 한 곳이였다!
        </p>
        <button type="button"> <a href="#"> 비비비당 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/busan_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 할매국밥 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">부산광역시 동구 중앙대로533번길 4</p>
        <p id="listExplain">
          lovelychuuu 가족 모두가 좋아하는곳이자, 소개해도 다들 만족하는 할매국밥 ! 부산에 왔다하면 이거하나는 먹고가야하지않나 싶어요 ㅎㅎ맛있기도 맛있고 가격도 저렴하고 웨이팅이있어도 테이블회전이 생각보다 빨라서 금방먹게되더라구요
        </p>
        <button type="button"> <a href="#"> 할매국밥 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/busan_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 신발원 </p>
        <p id="listRating"> 4.5 </p>

        <p id="listAddr">부산광역시 동구 대영로243번길 62</p>
        <p id="listExplain">
          찻집고냉이 인생만두집. 만두의 격을 보여주다. 군만두, 새우교자(찐만두). 사실 만두는 어지간해선 중간정도는 한다는 인식이 있는데요, 이곳은 정말 깜짝놀랄정도로 맛있었습니다. 그 왜 있잖아요, 너무 맛있으면 그냥 헉! 하게되는. 그런 류랄까요.
        </p>
        <button type="button"> <a href="#"> 신발원 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>