<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/Best(Main).css">
</head>
<style>
div.a {font-size: 30px; font-weight : 900px; color: white;}
div.b {font-size: 15px; font-weight : 800px; color : rgba(240,240,240);}
div.c{font-size:12px;}
.font-color{
    color : RGB(255, 113, 1);
}

</style>
<body>
        <!--헤더 영역-->
        <header>
            <!--로고-->
            <a href="../main.html">
                <img id="logo" src="../../images/logo.png">
            </a>
            <!--네비게이션-->
            <nav id="nav">
                <ul>
                    <li ><a href="../main.html">BEST 맛집</a></li>
                    <li class="current"><a href="./region_menu.html">지역별 맛집</a></li>
                    <li ><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
                    <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
                    <li>
                        <a href="#">내 계정</a>
                        <ul>
                            <li><a href="../login.html">로그인/회원가입</a></li>
                            <li>
                                <a href="#">마이페이지</a>
                                <ul>
                                    <li><a href="../modify.html">회원정보수정</a></li>
                                    <li><a href="../qna.html">QnA</a></li>
                                    <li><a href="../review.html">내가 쓴 리뷰</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div id="header">
            <p>  </p>
            <p>지역별 인기 맛집</p>
            <p>
              “전국 방방곡곡 지역별 미식가들 출동!”
            <p>
          </div>
        <table border="0" width = "100%" height = "744px" cellpadding = 60 cellspacing = 60>
            <tr align = "center">
            <p><td background = "../../images/region_menu/gangbuk_Foodlist1.jpg"  style="background-repeat: no-repeat; background-size: 100% 100%; background-color: rgb(0,0,4); vertical-align: middle;">
                <div class = "a"><a href="./region_menu_list_gangbuk.html" style="text-decoration: none; color:white;">2022 강북 인기 맛집 TOP</a></div>
                <div class ="c"><br></div>
                <div class = "b">다양한 먹거리를 찾는다면 강북으로!</div>
            </td>
            </p>
            <p><td background = "../../images/region_menu/jeju_Foodlist1.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;">
                <div class = "a"><a href="./region_menu_list_jeju.html" style="text-decoration: none; color:white;">2022 제주도 인기 맛집 TOP6</a></div>
                <div class = "c"><br></div>
                <div class = "b">"올해는 꼭 제주도 여행을 가고 말테야!"</div>
            </td>
            </p>
            <p><td background = "../../images/region_menu/gyenggi_Foodlist1.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;">
                <div class = "a"><a href="./region_menu_list_gyenggi.html" style="text-decoration: none; color:white;">2022 경기도 인기 맛집 TOP6</a></div>
                <div class = "c"><br></div><div class = "b">"경기도 찐맛집 여기 다 있네!"</div>
            </td>
            </p>
            </tr>

            <tr align = "center">
                <p><td background = "../../images/region_menu/gangnam_Foodlist1.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;">
                    <div class = "a"><a href="./region_menu_list_gangnam.html" style="text-decoration: none; color:white;">2022 강남 인기 맛집 TOP6</a></div>
                    <div class = "c"><br></div>
                    <div class = "b">"맛집하면 강남, 강남하면 맛집"</div>
                </td>
                </p>
                <p><td background = "../../images/region_menu/busan_Foodlist1.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;">
                    <div class = "a"><a href="./region_menu_list_busan.html" style="text-decoration: none; color:white;"> 2022 부산 인기 맛집 TOP6</a></div>
                    <div class = "c"><br></div>
                    <div class = "b">"마 맛집은 부산이라 안카나"</div>
                    </td>
                </p>
                <p><td background = "../../images/region_menu/gangwon_Foodlist1.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;">
                    <div class = "a"><a href="./region_menu_list_gangwon.html" style="text-decoration: none; color:white;">2022 강원도 인기 맛집 TOP6</a></div>
                    <div class = "c"><br></div>
                    <div class = "b">"역시 강원도 음식이 제일 맛있어"</div>
                </td>
                </p>
        </table>
        <footer id="footer">
            <section>
                <h2 class="company">회사소개</h2>
                <img id="logo" src="../../images/logo.png">
                <p>
                    (주)mat-zip<br>
                    서울특별시 강남구<br>
                    대표이사 : 멀티캠퍼스<br>
                    사업자 등록번호 : 123-45-678900<br>
                    통신판매업 신고번호 : 2022-서울강남-01779<br>
                    고객센터 : 02-000-0000<br>
                    &#169; 2022 Mat.zip Co.Ltd.All rights reserved
                </p>
                <h3>한국어 | English | &#20013;&#25991;</h3>
            </section>
        </footer>
    </div>
</body>
</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>

<style>
    #header {
  position: relative;
  height :260px;
  text-align: center;
  background: linear-gradient( to top, #f7f7f7, #e9e9e9 );
  margin-top: 70px;
}

#header p:nth-child(1) {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #aeafb3;
  font-family: "맑은 고딕";
}

#header p:nth-child(2) {
  font-size: 40px;
  font-family: "맑은 고딕";
  padding-bottom: 10px;
}

#header p:nth-child(3) {
  font-size: 20px;
  font-family: "맑은 고딕";
  font-weight: bold;
  color: #949496;
}
</style>