<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 72,042 클릭 | 2021-12-26 </p>
    <p>2022 제주도 인기 맛집 TOP 5</p>
    <p>
      “올해는 꼭 제주도 여행을 가고 말테야”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/jeju_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 미영이네식당 </p>
        <p id="listRating"> 4.7 </p>

        <p id="listAddr">제주특별자치도 서귀포시 대정읍 하모항구로 42 </p>
        <p id="listExplain">
          aa 제주에서 먹어본 제대로된 고등어회 기름이 좔좔있고 밑반찬도 많이 나와요 예전에 제주도 시장에서 테이크아웃해서 먹었던 고등어회랑은 비교불가인 맛입니다,, 미영이네가 웨이팅도 많고 멀지만 인기많은 이유를 알겠네요
        </p>
        <button type="button"> <a href="#"> 미영이네식당 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/jeju_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 상춘재 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">제주특별자치도 제주시 조천읍 선진길 26</p>
        <p id="listExplain">
          Ray 성게 비빔밥이 5~9월에만 파는 유일한 계절 메뉴라 통영멍게로 바꿨는데 완전 대존맛! 쓴맛이나 비린 맛 1도 없이 멍게의 좋은 향과 맛만 모아놓은 듯 향긋하고 싱그러워 너무너무 맛있었어요ㅠㅠ 이게 너무 인상적이어서 해물돌솥은 비교적 무난하게 느껴질 정도ㅋㅋㅋ
        </p>
        <button type="button"> <a href="#"> 상춘재 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/jeju_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 남양수산 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">제주특별자치도 서귀포시 성산읍 고성동서로56번길 11</p>
        <p id="listExplain">
          GoodVibesOnly 회가 이쁘게 각맞춰 세팅되어 나오는 것이 아니라, 듬성듬성 막썰어회 처럼 나왔다. 생선이 싱싱한 만큼 참돔의 식감은 쫜득쫜득하고 참으로 고소했다. 게다가 회 양도 참 많았다. 자질구레한 찌께다시 없이, 쌈장과 쌈채소 한가득. 끝. 
        </p>
        <button type="button"> <a href="#"> 남양수산 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/jeju_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 스시호시카이 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">제주특별자치도 제주시 오남로 90</p>
        <p id="listExplain">
          장현RYUTRAVEL 스시 호시카이 | 鮨 星海. 제주도의 별(星)과 바다(海)를 품었다는 뜻을 가졌으며 음식 하나하나와 인테리어 하나하나에 별을 찾는 재미가 있다. 스시 호시카이는 청담 스시효 출신 임덕현 셰프가 자신의 고향인 제주에서 지역 특색을 살린 스시를 선보이는 집이다. 
        </p>
        <button type="button"> <a href="#"> 스시호시카이 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/jeju_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 연리지가든 </p>
        <p id="listRating"> 4.6 </p>

        <p id="listAddr">제주특별자치도 제주시 한경면 두조로 190-20</p>
        <p id="listExplain">
          스머패트 제주도에서 진짜 토종 흑돼지를 맛볼 수 있는 곳! 연리지 가든은 축산진흥원에서 토종 흑돼지를 분양받아 4천평 규모의 농장에서 방목해 사육한다고 한다. 특정 부위만 주문하는 것은 불가능 하고, 목살, 삼겹살이 섞여있는 메뉴가 섞여서 나온다. 
        </p>
        <button type="button"> <a href="#"> 연리지가든 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>