<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 28,291 클릭 | 2021-12-24 </p>
    <p>2022 강남 인기 맛집 TOP 100</p>
    <p>
      “맛집하면 강남, 강남하면 맛집!”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangnam_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 미라이 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 강남구 논현로153길 24 끌레르빌 1F</p>
        <p id="listExplain">
          울푸디 높은 망플 평점이 이해가 가는 집 마구로치즈아에는 참치등살, 아보카도, 치즈, 계란 노른자가 아주 조화롭게 잘 어우러졌다. 맛있는 에피타이저. 다음은 대표메뉴 시바산도. 고등어, 감자샐러드, 머스터드, 시소, 무, 버터를 발라 구운 식빵까지 그냥 맛있는 디쉬. 
        </p>
        <button type="button"> <a href="#"> 미라이 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangnam_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 시라카와 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 강남구 선릉로161길 7 1F</p>
        <p id="listExplain">
          YNZ 맛있는 튀김 안주와 함께 가볍게 즐기기 좋은 선술집! 압구정에 있어서 팬시할 거라고 생각했는데 의외로 훨씬 캐주얼한 곳이었다. 주문한 튀김 메뉴 모두 느끼한 맛없이 고소하고 감칠맛 있었다. 특히 초당옥수수랑 버터고구마 강추. 단짠단짠한게 증맬 맛있다.
        </p>
        <button type="button"> <a href="#"> 시라카와 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangnam_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 알라프리마 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 강남구 학동로17길 13 1F</p>
        <p id="listExplain">
          Lia 서비스야 말할 것도 없이 좋았고 플레이트 하나하나마다 다 감동하며 먹었다! 플레이팅도 너무 예쁘고 이게 뭘까 싶은 재료의 조합도 모든게 입안에서 다 잘 어우러져서 최상의 맛을 내는 곳!
        </p>
        <button type="button"> <a href="#"> 알라프리마 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangnam_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 스시키 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 강남구 선릉로107길 3-4 운경빌딩 1F</p>
        <p id="listExplain">
          뱃살통통 처음 온센타마고부터 마지막 디저트까지 무엇하나 맛 없는게 없었다. 가히 최고! 오마카세치고 친숙한 재료들로 알차고 맛있게 구성된 한끼라고 생각한다. 
        </p>
        <button type="button"> <a href="#"> 스시키 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangnam_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 작은피자집 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 동작구 사당로30길 96</p>
        <p id="listExplain">
          미국피자하면생각나는 그런 자극적인 짠맛 피자도 아니고 시켜먹는 익숙한 피자느낌이나지만 굉장히 쫄깃한 도우와 치즈가 굉장히 부드러웠던게 기억나네요 가게매우 협소하고 진짜 사장님 한분이 요리부터 모든걸 관리운영하기에 회전율이 그리 좋진않지만 그래도 또 가볼법한 곳같아요
        </p>
        <button type="button"> <a href="#"> 작은피자집 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>