<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/restaurant_menu_list.css">
</head>

<header>
  <!--로고-->
  <a href="../main.html">
      <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
      <ul>
          <li><a href="../main.html">BEST 맛집</a></li>
          <li class="current"><a href="../region/region_menu.html">지역별 맛집</a></li>
          <li><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
          <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
          <li>
              <a href="#">내 계정</a>
              <ul>
                  <li><a href="../login.html">로그인/회원가입</a></li>
                  <li>
                      <a href="#">마이페이지</a>
                      <ul>
                          <li><a href="../modify.html">회원정보수정</a></li>
                          <li><a href="../qna.html">QnA</a></li>
                          <li><a href="../review.html">내가 쓴 리뷰</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</header>

<body>
  <div id="header">
    <p> 26,156 클릭 | 2021-12-25 </p>
    <p>2022 강북 인기 맛집 TOP 5</p>
    <p>
      “다양한 먹거리를 찾는다면 강북으로!”
    <p>
  </div>

  <div id="wrapper">
    <section id="listSection">
      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangbuk_Foodlist1.jpg" id="listImg"></a>
        <p id="listTitle"> 바위파스타바 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 용산구 이태원로 254 B2 </p>
        <p id="listExplain">
          YNZ 인생 생면 파스타 영접! 갓 뽑아낸 생면은 이렇게나 신선하고 고소한 거 구나 깨달았다. 너무너무 맛있다. 어머니와 함께 방문했는데 입맛이 까다로워 평소 파스타에는 평이 박하신 어머니도 떰스업 해주셨다.
        </p>
        <button type="button"> <a href="../restaurant/inseng.html"> 바위파스타바 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangbuk_Foodlist2.jpg" id="listImg"></a>
        <p id="listTitle"> 호반 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 종로구 삼일대로26길 20</p>
        <p id="listExplain">
          낙지 술을 안할수가 없습니다 진짜! 맛있는 음식엔 술이 따르는법,,,, 사실 병어찜 하나만 보고 간건데 갑자기 술이 땡기더라구요.. 바로 막사 말았습미다.... 병어가 느무느무맛있더라구요.. 진짜 너무맛있어서 열심히 살 하나하나 다발라서 먹었어요.
        </p>
        <button type="button"> <a href="#"> 호반 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangbuk_Foodlist3.jpg" id="listImg"></a>
        <p id="listTitle"> 만가타 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 종로구 삼청로2길 40-5</p>
        <p id="listExplain">
          냠냐룽 스칸디나비아 코스요리 자체가 매우 생소했지만, 정말 처음부터 끝까지 "깔끔"한 맛이었습니다! 인테리어, 맛, 분위기 모두 만점...
        </p>
        <button type="button"> <a href="#"> 만가타 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangbuk_Foodlist4.jpg" id="listImg"></a>
        <p id="listTitle"> 쉐시몽 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 마포구 월드컵로10길 48 동궁빌딩 1F</p>
        <p id="listExplain">
          SDM 완벽한 식사였어요. 제 원픽은 직화민어구이. 버터?소스가 너무 맛있고 캐비어랑 참치알 식감도 재밌어요. 동행 픽은 닭요리였어요. 식전빵도 쫄깃하고 따뜻하고 맛나요
        </p>
        <button type="button"> <a href="#"> 쉐시몽 더보기 > </a> </button>
      </div>


      <div id="listSectionDiv">
        <a href="#"><img src="../../images/region_menu/gangbuk_Foodlist5.jpg" id="listImg"></a>
        <p id="listTitle"> 회현식당 </p>
        <p id="listRating"> 4.8 </p>

        <p id="listAddr">서울특별시 중구 퇴계로2길 9-8</p>
        <p id="listExplain">
          졸리 정갈한 밥 한상을 대접하고 싶을때 가장 먼저 생각날거 같당 ㅎㅎ 그 중 가장 맛있었던 것을 꼽자면 단연 사시미… 녹진하고 기름이 잘 올라온 사시미는 정말 퀄리티가 좋아 이치에의 사시미 모리아와세를 먹고싶게 만들었당 ㅠㅠㅠ
        </p>
        <button type="button"> <a href="#"> 회현식당 더보기 > </a> </button>
      </div>
    </section>
  </div>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>