<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/Best(Main).css">
  <link rel="stylesheet" href="../../css/info.css">
</head>
<header>
  <!--로고-->
  <a href="../main.html">
    <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
    <ul>
      <li><a href="../main.html">BEST 맛집</a></li>
      <li><a href="../region/region_menu.html">지역별 맛집</a></li>
      <li class="current"><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
      <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
      <li>
        <a href="#">내 계정</a>
        <ul>
          <li><a href="../login.html">로그인/회원가입</a></li>
          <li>
            <a href="#">마이페이지</a>
            <ul>
              <li><a href="../modify.html">회원정보수정</a></li>
              <li><a href="../qna.html">QnA</a></li>
              <li><a href="../review.html">내가 쓴 리뷰</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="infoImg">
    <img src="../../images/restaurant/allaprima1.jpg">
    <img src="../../images/restaurant/allaprima2.jpg">
    <img src="../../images/restaurant/allaprima3.jpg">
    <img src="../../images/restaurant/allaprima4.jpg">
    <img src="../../images/restaurant/allaprima5.jpg">

  </div>

  <div class="infoText">
    <div class="infoHead">
      <p>알라프리마</p>
      <p> 4.8</p>
      <p>View : 218,501 | Write : 81 | Pick : 4,827</p>
      <br>
    </div>

    <div class="infoBody">
      <table>
        <tr>
          <td id="tblDiv">
            주소
          </td>
          <td>
            서울특별시 강남구 학동로17길 13<br>
            <p style="color: #949496; font-size: 14px;"><button>지번 </button> 서울시 강남구 삼성동 58-6</p>
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            전화번호
          </td>
          <td>
            02-511-2555
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            음식 종류
          </td>
          <td>
            이탈리안
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            가격대
          </td>
          <td>
            4만원 이상
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            주차
          </td>
          <td>
            무료주차 가능
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            영업시간
          </td>
          <td>
            12:00 - 21:00
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            휴일
          </td>
          <td>
            화
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            메뉴
          </td>
          <td id="menulist">
            런치
            110,000원<br>
            디너
            240,000원<br>
            
            <img src="../../images/restaurant/allaprimamenu.jpg" style="width: 200px; margin-top:20px;">
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="reviewDiv">
    <div id="reviewWrite">
      <h1> 리뷰 작성</h1>
      <input type="text" placeholder="작성자명" id="reviewWriter"> <br>
      <textarea id="reviewContent"></textarea> <br>
      <button> 작성하기 </button>
    </div>
    <table>
      <tr>
        <td>
          리뷰(81)
        </td>
        <td id="reviewSort">
          <p>전체 (81)</p> | 맛있다 (71) | 괜찮다 (9)) | 별로 (1)
        </td>
      </tr>
      <tr>
        <td id="username">
          DD
        </td>
        <td id="userReview">
          알라프라마가 처음이었다.
          돈만 있으면 매일 오고 싶다라는 말이 절로 나옴
          파인 레스토랑에 가면 가격 생각에 어느정도 맛이 있어도 
          그 정돈가 이게? 싶었는데
          여기는 맛,서비스,분위기,플레이팅,순서,조화,균형
          뭐 하나 입댈 것 없이 완.벽 그 자체
        </td>
      </tr>
      <tr>
        <td id="username">
          코코아코
        </td>
        <td id="userReview">
          미슐랭!!
          평일이라 그런지 예약은 쉬웠고요 향이 강한 메뉴가 많았네요 ㅋ
          그래도 이색적인 메뉴들이 인상적이였숨당 ㅋ
        </td>
      </tr>
      <tr>
        <td id="username">
          탄탄대로 
        </td>
        <td id="userReview">
          런치 좋았습니다 맛있게 잘 먹고가용
        </td>
      </tr>
    </table>
  </div>
</body>

<footer id="footer">
  <section>
    <h2 class="company">회사소개</h2>
    <img id="logo" src="../../images/logo.png">
    <p>
      (주)mat-zip<br>
      서울특별시 강남구<br>
      대표이사 : 멀티캠퍼스<br>
      사업자 등록번호 : 123-45-678900<br>
      통신판매업 신고번호 : 2022-서울강남-01779<br>
      고객센터 : 02-000-0000<br>
      &#169; 2022 Mat.zip Co.Ltd.All rights reserved
    </p>
    <h3>한국어 | English | &#20013;&#25991;</h3>
  </section>
</footer>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>