<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/Best(Main).css">
  <link rel="stylesheet" href="../../css/info.css">
</head>
<header>
  <!--로고-->
  <a href="../main.html">
    <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
    <ul>
      <li><a href="../main.html">BEST 맛집</a></li>
      <li><a href="../region/region_menu.html">지역별 맛집</a></li>
      <li class="current"><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
      <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
      <li>
        <a href="#">내 계정</a>
        <ul>
          <li><a href="../login.html">로그인/회원가입</a></li>
          <li>
            <a href="#">마이페이지</a>
            <ul>
              <li><a href="../modify.html">회원정보수정</a></li>
              <li><a href="../qna.html">QnA</a></li>
              <li><a href="../review.html">내가 쓴 리뷰</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="infoImg">
    <img src="../../images/restaurant/infoimg1.jpg">
    <img src="../../images/restaurant/infoimg2.jpg">
    <img src="../../images/restaurant/infoimg3.jpg">
    <img src="../../images/restaurant/infoimg4.jpg">
    <img src="../../images/restaurant/infoimg5.jpg">

  </div>

  <div class="infoText">
    <div class="infoHead">
      <p>길목</p>
      <p> 4.6</p>
      <p>View : 201,488 | Write : 132 | Pick : 5,868</p>
      <br>
    </div>

    <div class="infoBody">
      <table>
        <tr>
          <td id="tblDiv">
            주소
          </td>
          <td>
            서울특별시 강남구 영동대로129길 10<br>
            <p style="color: #949496; font-size: 14px;"><button>지번 </button> 서울시 강남구 삼성동 58-6</p>
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            전화번호
          </td>
          <td>
            02-518-9710
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            음식 종류
          </td>
          <td>
            고기 요리
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            가격대
          </td>
          <td>
            만원-2만원
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            주차
          </td>
          <td>
            주차공간없음
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            영업시간
          </td>
          <td>
            16:00 - 23:00
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            휴일
          </td>
          <td>
            일
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            메뉴
          </td>
          <td id="menulist">
            투뿔목살 (200g)
            18,000원<br>
            특오겹살 (200g)
            18,000원<br>
            껍살 (250g)
            20,000원<br>
            된장술밥
            8,000원<br>
            <img src="../../images/restaurant/gilmokmenu.jpg" style="width: 200px; margin-top:20px;">
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="reviewDiv">
    <div id="reviewWrite">
      <h1> 리뷰 작성</h1>
      <input type="text" placeholder="작성자명" id="reviewWriter"> <br>
      <textarea id="reviewContent"></textarea> <br>
      <button> 작성하기 </button>
    </div>
    <table>
      <tr>
        <td>
          리뷰(132)
        </td>
        <td id="reviewSort">
          <p>전체 (132)</p> | 맛있다 (110) | 괜찮다 (14) | 별로 (8)
        </td>
      </tr>
      <tr>
        <td id="username">
          마리티
        </td>
        <td id="userReview">
          코로나풀리고 지인들과 오랜만에 갔는데..
          첫 주문을 목살2/삼겹살2 시키고 화장실 갔다왔는데 나중에 결제금액 이상해서 보니까 저없는사이 목살만 5인분 들고 왔다가 다시 가져갔다가 정정해서 가져 왔다는데 그것도 결국 5인분으로 주문 넣어서
          가져온거 같다라더군요. 작년에 비해 고기는 2000원씩 다 올랐고, 된장찌개엔 차돌박이가 빠진상태로 가격은 그대로 유지.. 중간에 주문한건 안나와서 물어보니 죄송하다는 사과 한마디없이 그제서야 주문
          들어가고(같이 주문한 라면 다 먹을동안 안나옴) 참 직원도 많고 심지어 주문하는곳 바로 앞에서 먹었는데도 이렇게 실수가 잦은지 이젠 더이상 가기 싫어지네요.
        </td>
      </tr>
      <tr>
        <td id="username">
          고균
        </td>
        <td id="userReview">
          청담 목살맛집 길목이에요! 퇴근시간에 가니깐 사람이 장난아니게 많더라구요! 기본적인 찬도 잘나왔구 껍살은 다른곳에서는 본적없었는데 궁금하더라구요 그래서 시켜봤습니다! 껍살은 껍데기 + 항정살을
          합친게 껍살이라구하더라구요! 와 근데 진짜 대존맛인게 껍데기의 쫀득함과 목살의 부드러움이 섞여서 대박이었습니다.. 가격대는 조금 높지만 아깝지않은 그런맛이었어요!! 길목 강추합니다!
        </td>
      </tr>
      <tr>
        <td id="username">
          다람이
        </td>
        <td id="userReview">
          이제서야 여기를 가보게 된 나, 반성해

          바로 옆 동네에서 n년째 회사를 다니고 있는데 벼르고 벼르다 드디어 가게 된 청담 길목. 다행히 토요일 오후 늦은 저녁에 가서 대기 없이 바로 입장!

          투뿔목살과 껍살이 인기인 것 같길래 나눠서 주문. 고기는 직원 분께서 구워주셔서 먹기 직전에만 알아서 조금 구우면 됨!

          목살은 껍살이 익어가는 동안 먼저 먹을 것을 추천해주십니다. 덜 익힌 상태에서 멜젓에 담궜다가 다시 불 위에서 살짝 더 구워주면 된다고 알려주세요. 처음에는 소금에 콕 찍고 와사비를 곁들여 먹었는데
          고기가 보드랍고 야들하고 육즙도 나오는 게 완전 목살계의 신세계! 멜젓의 풍미도 은은하게 느껴져서 너무 맛있었어요. 양파무침과의 달큰한 맛과도 잘 어울려서 번갈아가면서 계속 먹었어요. 지금도 그
          맛을 상상하니 입에 침이 고일 정도.

          껍살은 항정살에 껍데기가 붙어 나오는 건가봐요. 그래서그런지 지방이 많은 편이라 개인적으론 약간 느끼. 맛이 없는 건 아니지만 목살에 비해 엄청 맛있던 건 아니므로 다음엔 목살만 먹..을래요..

          된장술밥
          껍살에 기름진 입안을 정화해준 구원자. 흔한 고깃집의 된장찌개일줄 알았는데 칼칼한 맛의 된장찌개에 밥이 들어가있어서 그냥 술술 들어가요. 껍살먹다가 이거 먹으니까 막 퍼먹게 되더라고요.
        </td>
      </tr>
    </table>
  </div>
</body>

<footer id="footer">
  <section>
    <h2 class="company">회사소개</h2>
    <img id="logo" src="../../images/logo.png">
    <p>
      (주)mat-zip<br>
      서울특별시 강남구<br>
      대표이사 : 멀티캠퍼스<br>
      사업자 등록번호 : 123-45-678900<br>
      통신판매업 신고번호 : 2022-서울강남-01779<br>
      고객센터 : 02-000-0000<br>
      &#169; 2022 Mat.zip Co.Ltd.All rights reserved
    </p>
    <h3>한국어 | English | &#20013;&#25991;</h3>
  </section>
</footer>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>