<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/Best(Main).css">
  <link rel="stylesheet" href="../../css/info.css">
</head>
<header>
  <!--로고-->
  <a href="../main.html">
    <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
    <ul>
      <li><a href="../main.html">BEST 맛집</a></li>
      <li><a href="../region/region_menu.html">지역별 맛집</a></li>
      <li class="current"><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
      <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
      <li>
        <a href="#">내 계정</a>
        <ul>
          <li><a href="../login.html">로그인/회원가입</a></li>
          <li>
            <a href="#">마이페이지</a>
            <ul>
              <li><a href="../modify.html">회원정보수정</a></li>
              <li><a href="../qna.html">QnA</a></li>
              <li><a href="../review.html">내가 쓴 리뷰</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="infoImg">
    <img src="../../images/restaurant/inseng1.jpg">
    <img src="../../images/restaurant/inseng2.jpg">
    <img src="../../images/restaurant/inseng3.jpg">
    <img src="../../images/restaurant/inseng4.jpg">

  </div>

  <div class="infoText">
    <div class="infoHead">
      <p>인생이막창이네</p>
      <p> 4.4</p>
      <p>View : 26.687 | Write : 17 | Pick : 642</p>
      <br>
    </div>

    <div class="infoBody">
      <table>
        <tr>
          <td id="tblDiv">
            주소
          </td>
          <td>
            서울특별시 서대문구 연세로7안길 51<br>
            <p style="color: #949496; font-size: 14px;"><button>지번 </button> 서울시 강남구 삼성동 58-6</p>
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            전화번호
          </td>
          <td>
            02-3144-0466
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            음식 종류
          </td>
          <td>
            고기 요리
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            가격대
          </td>
          <td>
            만원-2만원
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            주차
          </td>
          <td>
            주차공간없음
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            영업시간
          </td>
          <td>
            월-토: 13:00 - 03:00
            일: 13:00 - 24:00
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            휴일
          </td>
          <td>
            첫째/셋째 일
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            메뉴
          </td>
          <td id="menulist">
            통닭발
            15,000원<br>
            불막창
            18,000원<br>
            무뼈닭발
            16,000원<br>
            오돌뼈
            16,000원<br>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="reviewDiv">
    <div id="reviewWrite">
      <h1> 리뷰 작성</h1>
      <input type="text" placeholder="작성자명" id="reviewWriter"> <br>
      <textarea id="reviewContent"></textarea> <br>
      <button> 작성하기 </button>
    </div>
    <table>
      <tr>
        <td>
          리뷰(17)
        </td>
        <td id="reviewSort">
          <p>전체 (17)</p> | 맛있다 (10) | 괜찮다 (2) | 별로 (5)
        </td>
      </tr>
      <tr>
        <td id="username">
          기린
        </td>
        <td id="userReview">
          인생막창? 맛있게 잘 먹었어용 ㅎㅎㅎ
        </td>
      </tr>
      <tr>
        <td id="username">
          기매
        </td>
        <td id="userReview">
          인생은 막창이다라..이름이 다했넹 이런 인생이면 불꽃길인가....
          맵찔이한테는 매울거고 세입 먹으면 이미 습습 후후 하게 됨
          둘이 왔는데 계란찜 주길래 뭐 이리 한사발 주나 했는데 그만큼 안주면 다들 매워서 울꺼임
          불막창 먹으러 오면 기대하는 딱 그맛의 정석
        </td>
      </tr>
      <tr>
        <td id="username">
          이나가
        </td>
        <td id="userReview">
          가격이 저렴하네요. 비록 소금막창을 먹지마는 세트로 해도 양이 넘치는 수준
          막창 맛이 좋고 치즈는 좀 달고 나머지는 적당합디다~ 사장님도 친절하구요
        </td>
      </tr>
    </table>
  </div>
</body>

<footer id="footer">
  <section>
    <h2 class="company">회사소개</h2>
    <img id="logo" src="../../images/logo.png">
    <p>
      (주)mat-zip<br>
      서울특별시 강남구<br>
      대표이사 : 멀티캠퍼스<br>
      사업자 등록번호 : 123-45-678900<br>
      통신판매업 신고번호 : 2022-서울강남-01779<br>
      고객센터 : 02-000-0000<br>
      &#169; 2022 Mat.zip Co.Ltd.All rights reserved
    </p>
    <h3>한국어 | English | &#20013;&#25991;</h3>
  </section>
</footer>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>