<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/Best(Main).css">
  <link rel="stylesheet" href="../../css/info.css">
</head>
<header>
  <!--로고-->
  <a href="../main.html">
    <img id="logo" src="../../images/logo.png">
  </a>
  <!--네비게이션-->
  <nav id="nav">
    <ul>
      <li><a href="../main.html">BEST 맛집</a></li>
      <li><a href="../region/region_menu.html">지역별 맛집</a></li>
      <li class="current"><a href="../restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
      <li><a href="../tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
      <li>
        <a href="#">내 계정</a>
        <ul>
          <li><a href="../login.html">로그인/회원가입</a></li>
          <li>
            <a href="#">마이페이지</a>
            <ul>
              <li><a href="../modify.html">회원정보수정</a></li>
              <li><a href="../qna.html">QnA</a></li>
              <li><a href="../review.html">내가 쓴 리뷰</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="infoImg">
    <img src="../../images/restaurant/popolo1.jpg">
    <img src="../../images/restaurant/popolo2.jpg">
    <img src="../../images/restaurant/popolo3.jpg">
    <img src="../../images/restaurant/popolo4.jpg">
    

  </div>

  <div class="infoText">
    <div class="infoHead">
      <p>포폴로피자</p>
      <p> 4.6</p>
      <p>View : 223,646 | Write : 209 | Pick : 4,329</p>
      <br>
    </div>

    <div class="infoBody">
      <table>
        <tr>
          <td id="tblDiv">
            주소
          </td>
          <td>
            경기도 고양시 일산동구 정발산로 43-20 센트럴플라자<br>
            <p style="color: #949496; font-size: 14px;"><button>지번 </button> 서울시 강남구 삼성동 58-6</p>
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            전화번호
          </td>
          <td>
            031-932-9337
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            음식 종류
          </td>
          <td>
            이탈리안
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            가격대
          </td>
          <td>
            만원-2만원
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            주차
          </td>
          <td>
            무료주차 가능
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            영업시간
          </td>
          <td>
            11:30 - 22:00
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            휴일
          </td>
          <td>
            월
          </td>
        </tr>
        <tr>
          <td id="tblDiv">
            메뉴
          </td>
          <td id="menulist">
            라자냐 알라 볼로네제
            16,800원<br>
            비스마르크
            14,600원<br>
            꽈트로풍기
            15,000원<br>
            마르게리타
            11,600원<br>
            <img src="../../images/restaurant/popolomenu.jpg" style="width: 200px; margin-top:20px;">
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="reviewDiv">
    <div id="reviewWrite">
      <h1> 리뷰 작성</h1>
      <input type="text" placeholder="작성자명" id="reviewWriter"> <br>
      <textarea id="reviewContent"></textarea> <br>
      <button> 작성하기 </button>
    </div>
    <table>
      <tr>
        <td>
          리뷰(209)
        </td>
        <td id="reviewSort">
          <p>전체 (209)</p> | 맛있다 (150) | 괜찮다 (53) | 별로 (6)
        </td>
      </tr>
      <tr>
        <td id="username">
          진꿀이
        </td>
        <td id="userReview">
          맛있게 한데 이렇게 유명할 일? 줄서서먹을 맛은 절대 아님둥...도우가 쫄깃쫄깃 진짜 맛있었고
          가지가지 한국식 가지볶음 말고는 중국가지튀김부터 가지들어간 이태리 음식도 좋아해 맛있었던 가지요리 ㅋㅋ
          우리가 시키고 딱 품절되어 더 좋았던^^ 나쁜마음 호수공원 산책하고 가기 좋을듯함
        </td>
      </tr>
      <tr>
        <td id="username">
          혼디
        </td>
        <td id="userReview">
          카프레제 샐러드 페스토파스타 비스마르크 다다다다 맛있땅
        </td>
      </tr>
      <tr>
        <td id="username">
          눈누난나
        </td>
        <td id="userReview">
          초심을 잃으신듯. 유명해지기 전부터 갔던 맛집이라 오랜만에 갔는데 너무 실망이에요.
          피자바닥 다 태워나와서 이야기 했더니 사장이 " 다시 해드려요? 근데 다시해도 똑같이 나올 수 있어요"....
          초기에 친절했던 사장도 음식맛과 같이 변했네요 
          피자도 짜 샐러드에 도우도 짜. 소금 덩어리에 스파게티는 설탕 덩어리 ㅋ
        </td>
      </tr>
    </table>
  </div>
</body>

<footer id="footer">
  <section>
    <h2 class="company">회사소개</h2>
    <img id="logo" src="../../images/logo.png">
    <p>
      (주)mat-zip<br>
      서울특별시 강남구<br>
      대표이사 : 멀티캠퍼스<br>
      사업자 등록번호 : 123-45-678900<br>
      통신판매업 신고번호 : 2022-서울강남-01779<br>
      고객센터 : 02-000-0000<br>
      &#169; 2022 Mat.zip Co.Ltd.All rights reserved
    </p>
    <h3>한국어 | English | &#20013;&#25991;</h3>
  </section>
</footer>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/main.js"></script>