<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>세상모든 맛집 다모아! Mat.zip</title>
        <link rel="stylesheet" href="../css/Best(Main).css">
    </head>

    <body>
        <div id="wrapping">
            <!--헤더 영역-->
            <header>
                <!--로고-->
                <a href="main.html">
                    <img id="logo" src="../images/logo.png">
                </a>
                <!--네비게이션-->
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="main.html">BEST 맛집</a></li>
                        <li><a href="../view/region/region_menu.html">지역별 맛집</a></li>
                        <li><a href="../view/restaurant_menu/restaurant_menu.html">메뉴별 맛집</a></li>
                        <li><a href="../view/tv_recommand/tv_recommand_menu.html">TV 추천 맛집</a></li>
                        <li>
                            <a href="#">내 계정</a>
                            <ul>
                                <li><a href="login.html">로그인/회원가입</a></li>
                                <li>
                                    <a href="#">마이페이지</a>
                                    <ul>
                                        <li><a href="modify.html">회원정보수정</a></li>
                                        <li><a href="qna.html">QnA</a></li>
                                        <li><a href="review.html">내가 쓴 리뷰</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- 배너 -->
            <section id="banner">
                <div class="content">
                    <h2>세상 모든 맛집 이곳에 압축!</h2>
                    <p>맛.zip</p>
                    <input id="search" type='text' placeholder='당신의 맛집을 찾아보세요' />
                    <a href="#main" class="button scrolly">검색</a>
                </div>
            </section>

            <!--내용-->
            <section id="main">
                <div id="container">
                    <h2>맛.zip은 약속드립니다!</h2>
                    <div id="box">
                        <div id="box-seperate">
                            <img src="../images/pic01.png" alt="" />
                            <h3>검증된 전문평가단</h3>
                            <p>
                                검증된 전문 평가단이<br>
                                여러분의 맛집 라이프를 책임집니다!
                            </p>
                        </div>
                        <div id="box-seperate">
                            <img src="../images/pic02.jpg" alt="" />
                            <h3>매일 특별한 경험</h3>
                            <p>
                                매일 새로운 컨텐츠로<br>
                                여러분께 특별한 경험을 선사합니다!
                            </p>
                        </div>
                        <div id="box-seperate">
                            <img src="../images/pic03.png" alt="" />
                            <h3>신선한 식재료</h3>
                            <p>
                                농수산 식품부와 연계하여<br>
                                신선제품 사용을 엄격히 체크합니다!
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 푸터 -->
            <footer id="footer">
                <section>
                    <h2 class="company">회사소개</h2>
                    <img id="logo" src="../images/logo.png">
                    <p>
                        (주)mat-zip<br>
                        서울특별시 강남구<br>
                        대표이사 : 멀티캠퍼스<br>
                        사업자 등록번호 : 123-45-678900<br>
                        통신판매업 신고번호 : 2022-서울강남-01779<br>
                        고객센터 : 02-000-0000<br>
                        &#169; 2022 Mat.zip Co.Ltd.All rights reserved
                    </p>
                    <h3>한국어 | English | &#20013;&#25991;</h3>
                </section>
            </footer>

        </div>

        <!--자바스크립트-->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.dropotron.min.js"></script>
        <script src="../js/breakpoints.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>